@model HelpingHands.Models.DonationRequirement

@{
    ViewBag.Title = "Edit";
}

@using (Html.BeginForm("Edit", "Donation", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @if (ViewBag.ErrorMessage != null)
    {
        <div class="alert alert-danger">
            <p>@ViewBag.ErrorMessage</p>
        </div>
    }
    <h2 class="header">
        Edit Donation Requirement
    </h2>
    <hr />
    <div class="form-horizontal" style="margin-left:30%;">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.DonationRequirementId)

        <div class="form-group">
            @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Age, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Age, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Age, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MaterialItemId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("MaterialItemId", (IEnumerable<SelectListItem>)ViewBag.CategoryList, new { id = "MaterialItemId", @class = "form-control" })

                @Html.ValidationMessageFor(model => model.MaterialItemId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Description, new { @class = "form-control textareastyle" })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Address, new { @class = "form-control textareastyle" })
                @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.DeliveryDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DeliveryDate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DeliveryDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DeliveryStatus, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.DeliveryStatus,
    new SelectList(new List<SelectListItem> {
             new SelectListItem { Text = "Available", Value = "Available"},
             new SelectListItem { Text = "In Progress", Value = "In Progress"},
                          new SelectListItem { Text = "Delivered", Value = "Delivered"}
         }, "Value", "Text"),
    "Select status",
     new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.DeliveryStatus, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Update" class="btn btn-default btn"  style="margin-left:0px !important;" />
            </div>
        </div>
    </div>
}

@*<div>
        <form method="post" asp-action="Index" asp-controller="Donation">
            <button type="submit" class="btn btn-primary" style="background-color: #FF4500; float: right;">Back to List</button>
        </form>
    </div>*@



